@import '../../sass-modules/breakpoints';
@import '../../sass-modules/colors';

/* content --- */
.service__content {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: $break-sidenav) {
    text-align: left;
    width: 40%;

    position: relative;
    top: 2.5rem;
  }
}

.serviceList__item:not(:nth-child(2)) {
  .service__content {
    @media screen and (min-width: $break-sidenav) {
      float: left;
      margin-left: 3rem;
    }
  }
}

.serviceList__item:nth-child(2) {
  .service__content {
    @media screen and (min-width: $break-sidenav) {
      float: right;
    }
  }
}

/* title --- */
.service__title {
  color: $light-grey;
  font-size: 1rem;
  font-weight: 400;

  margin: 0;
}

/* Image --- */
.service__image {
  display: block;
  width: 27rem;

  margin: 0 auto 1rem;

  @media screen and (min-width: $break-sidenav) {
    width: 52%;
  }
}

.serviceList__item:not(:nth-child(2)) {
  .service__image {
    @media screen and (min-width: $break-sidenav) {
      float: right;
    }
  }
}

.serviceList__item:nth-child(2) {
  .service__image {
    @media screen and (min-width: $break-sidenav) {
      float: left;
    }
  }
}

/* First paragraph --- */
.service__paragraph:first-of-type {
  margin: .5rem 0 1.5rem;
}