.serviceSection__serviceList {
  margin-top: 6rem;
}

/* Item --- */
.serviceList__item {
  clear: both;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}